<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<array>
		<string>CRI怀旧金典</string>
		<string>CRI 轻松调频</string>
		<string>CRI 新闻广播</string>
		<string>CRI FM 88.7</string>
	</array>
	<key>subTitle</key>
	<array>
		<string>CRI Oldies Online</string>
		<string>CRI Easy FM</string>
		<string>CRI News Radio</string>
		<string>CRI HIT FM88.7</string>
	</array>
	<key>logoImage</key>
	<array>
		<string>other/pic1.png</string>
		<string>other/pic2.png</string>
		<string>other/pic3.png</string>
		<string>other/pic1.png</string>
	</array>
</dict>
</plist>
